
.metadata/

Atelier0/.classpath

*.class

Atelier0/.settings/

Atelier1/CatalogueDAO/.classpath

Atelier1/CatalogueDAO/.settings/

Atelier1/CatalogueDAO/src/test/java/org/aminelch/CatalogueDAO/AppTest.java

Atelier1/CatalogueDAO/target/classes/META-INF/maven/org.aminelch/CatalogueDAO/pom.properties

Atelier1/CatalogueDAO/.project
